
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <h1>Patients</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Malade</th>
            <th>Score</th>
        </tr>

        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.nom}"></td>
            <td th:text="${patient.dateNaissance}"></td>
            <td th:text="${patient.malade}"></td>
            <td th:text="${patient.score}"></td>
        </tr>
    </table>
</body>
</html>



